.landing{
    background-image: url(./images/landing.jpg);

}
.image{
    height: 550px;
    width: 1300px;
}
.menu{
    text-align: center;
    padding-top:2%;
    padding-left: 7%;
}
.logo{
    color:white;
    padding-left:7%;
    padding-top: 5%;
}
.menu h1{
    color:white;
    font-family:Calibri;
    font-size:xx-large;
    font-weight:lighter;
    margin:auto;
    padding-top:2%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    display:inline-flex;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .orange{
      width:70%;
      padding-right:84%;
      border: radius 2px;
      
  }

p{
    display:inline-block;
    margin-top:100%;
    text-align: center;
    padding-left: 300%;
    
}
.o{
background-color:orangered;
width:100%;
padding-right: 660%;
height:53%;
}
#text {
    z-index: 100;
    position: absolute;
    color: rgb(14, 12, 12);
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
  }
.fastfood{
    display:block;
    padding-left: 350px;
   
}
.food{
    padding-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    padding-left:0px;

   
}
.in{
    display:inline-flex;
    font-family: 'Times New Roman', Times, serif;

}
.j{
padding-right:200px;
margin: top 0;
margin:0;
padding-right: 150px;
margin-right:0%;
padding-bottom:100px;
}
.j h1{
   padding-right: 180px;    


}
